<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco corsi</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>pagina1</li>
            <li>pagina2</li>
            <li>pagina3</li>
            <li>pagina4</li>
            <li>pagina5</li>
        </ul>
    </nav>
</header> 

@RenderBody()

<footer>
    <p>contattaci...$</p>
</footer>
</body>
</html>